:root {
  --bg-clr-darkred: rgb(175, 8, 8);
  --bg-clr-white: white;
  --size-button: 100px;
}

body, html {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  left: 20px;
  gap: 20px;
  top: 40px;
}

.menu-open {
  display: none;
}

.menu-open-button {
  position: relative;
  background-color: var(--bg-clr-darkred);
  width: var(--size-button);
  height: var(--size-button);
  border-radius: 50%;
  transition: all 0.5s ease-in;
}

.menu-line {
  position: absolute;
  width: calc(var(--size-button) * 0.5);
  height: 7px;
  background-color: white;
  z-index: 100;
  left: 25px;
}

.menu-line-1 {
  top: 30px;
}

.menu-line-2 {
  top: 45px;
}

.menu-line-3 {
  top: 60px;
}

.menu-item {
  position: relative;
  margin-left: 0px;
  background-color: var(--bg-clr-darkred);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: none;
}

.fa {
  position: absolute;
  color: white;
  left: 40px;
  top: 40px;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
}


.menu-open:checked ~ .menu-item {
  display: block;
}
.menu-open:checked + .menu-open-button .menu-line-2 {
  display: none;
}
.menu-open:checked + .menu-open-button .menu-line-1,
.menu-open:checked + .menu-open-button .menu-line-3 {
  top: 45px;

}
.menu-open:checked + .menu-open-button .menu-line-3 {
  transform: rotate(45deg);
}

.menu-open:checked + .menu-open-button .menu-line-1 {
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .menu {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    left: 40px;
    top: 40px;
    border: 2px solid b
  }
  .menu-open {
    display: none;
  }
.menu-open-button {
  display: none;
}
}
