/* media query */
$size-extra-large: 20px;
$size-large: 18px;
$size-mid: 16px;
$size-small: 14px;
$clr-1:  #1D1D1D;

h1 {
  font-size: 20px;

  @media screen and (max-width: 960px) {
    font-size: 18px;
  }

  @media screen and (max-width: 640px) {
    font-size: 16px;
  }

  @media screen and (max-width: 320px) {
    font-size: 14px;

    &.small {
      color: #1d1d1d;
    }
  }
}