/* success and waring */
$fnt-size: 12px;
$txt-clr-1: #FF0000;
$txt-clr-2: #00FF00;

.info{
  font-size: $fnt-size; }
.success {
  @extend .info;
  color: $txt-clr-2;
}
.warning {
  @extend .info;
  color: $txt-clr-1;
}
